svg .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 4px;
}

svg .axisSteelBlue text {
  fill: steelblue;
}

svg text {
  fill: #C6C6C6;
  font-size: 19px;
  padding-left: 20px;
}

path.line {
  stroke: #3084E1;
  fill: none;
}

.point1 {
  fill: #3084E1;
}

.tick line, .domain {
  stroke: #AEAEAE;
}

.bar {
  fill: #EFEFEF;
  stroke: #EFEFEF;
}

.bar.hover {
  fill: #3084E1;
  stroke: #3084E1;
}

.point1.hover {
  fill: white;
  stroke: #3084E1;
  stroke-width: 2px;
}

line.tracker {
  stroke: #3084E1;
  stroke-width: 1px;
}

.tracker text {
  font-size: 12px;
}

.tracker.date rect {
  fill: #8B8B8B;
}

.tracker.amount rect {
  fill: #3375E8;
}

.tracker text {
  fill: white;
}
