<ng-template class="modal" #template>

  <!--<style>-->
  <!--.crypto ::placeholder {-->
  <!--color: {{selectedSymbolData.color}};-->
  <!--}-->
  <!--</style>-->

  <div class="row modal-body center">
    <div class="bg-modal-send" #body>
      <div id="receive-modal-body">
        <img class="modalImg" [src]="selectedWalletData.image">
        <button type="button" class="send-modal close" aria-label="Send" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <div>
          <ngx-qrcode
            [qrc-value]="address.address"
            qrc-class="qr"
            qrc-errorCorrectionLevel="L">
          </ngx-qrcode>
        </div>

        <div>
          <span [style.color]="selectedSymbolData.color" class="address-label">Your&nbsp;<span class="symbol-name">{{selectedSymbolData.title}}</span>&nbsp;address</span>
        </div>
        <div class="address" >
          <input readonly type="text" [value]="address.address" #address1>
        </div>

        <div>
          <span *ngIf="address.extra?.fieldValue" [style.color]="selectedSymbolData.color" class="address-label">{{address.extra?.fieldName}}</span>
        </div>
        <div class="address" *ngIf="address.extra?.fieldValue">
          <div >{{address.extra?.fieldValue}}</div>
        </div>
      </div>

      <div class="share">
        <button class="btn share-btn " ngxClipboard [cbContent]="address.address" (click)="address1.select()">
          <img src="assets/images/copy.png">
        </button>
        <button class="btn share-btn " (click)="print()">
          <img src="assets/images/printer.png">
        </button>

        <a class="share-btn" [href]="'mailto:?body='+address.address +'&subject='+address.symbol + ' wallet address'">
          <img src="assets/images/mail.png">
        </a>

        <!--<button class="share-btn">-->
          <!--<img src="assets/images/link.png">-->
        <!--</button>-->
      </div>
    </div>
  </div>
  <div class="modal-footer " *ngIf="address && address.extra && address.extra.fieldMessage">


    <p>{{address.extra.fieldMessage}}</p>
  </div>

</ng-template>

