
.Spend {
  font-family: 'Avenir', Fallback, sans-serif !important;
  text-align: center;
  height: 48px; 
  font-size: 49px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #0033a7;
  margin-top: 100px;
}

.login-box {
  margin-top: 45px;
  padding: 0px 18px 5px 18px;
  border-radius: 8.5px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.38);
  background-color: #ffffff;
  border: solid 0.5px #e0e0e0;
  text-align: center;
}
.login {
  height: 19.5px;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-align: center;
  border-bottom: 2px solid #0134a7;
  padding-bottom: 36px;
  margin-bottom: 18px;
}

.code-box {
  margin-top: 45px;
  padding: 0px 18px 20px 20px;
  border-radius: 8.5px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.38);
  background-color: #ffffff;
  border: solid 0.5px #e0e0e0;
  text-align: center;
  
}

.welcome {
  height: 19.5px;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-align: center;
  border-bottom: 2px solid #e6ebf4;
  padding-bottom: 36px;
  margin-bottom: 18px;
}

.username {
  font-family: 'Avenir', Fallback, sans-serif !important;
  width: 100%;
  height: 34px;
  border-radius: 4.5px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #f9fafc;
  border: solid 0.5px #dddddd;
  text-align: center;
}

.password {
  font-family: 'Avenir', Fallback, sans-serif !important;
  margin-top: 14px;
  width: 100%;
  height: 34px;
  border-radius: 4.5px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #f9fafc;
  border: solid 0.5px #dddddd;
  text-align: center;
}


.error-field {
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483 !important;
}
.error {
  font-size: 10px !important;
  color: #a94442;
  margin-top: 10px;
  width: 100%;
  text-align: left; 
}

.error-msg {
  margin-bottom: 10px;
}

.remember {
  margin: 18px 0 14px 0;
}

.login-btn {
  width: 200px;
  height: 42px;
  border-radius: 9px;
  background-color: #0134a7;
  border: solid 0.5px #dddddd;
  text-align: center;
  font-family: Avenir;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.login-btn:hover {
  background: blue; 
}

.login-btn[disabled],
.send-btn[disabled] {
  background: #a9bdea !important;
}

.forgot{
  width: 85.5px;
  height: 9px;
  font-family: Avenir;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 4;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  cursor: pointer;
}


.register-btn {
  margin-top: 20px; 
  width: 200px;
  height: 42px;
  border-radius: 9px;
  background-color: #0134a7;
  border: solid 0.5px #dddddd;
  text-align: center;
  font-family: Avenir;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding-top: 8px;
  margin: 20px 0px 10px 0px;
  text-decoration: none;
}

.register-btn:hover,
.send-btn:hover {
  background: blue;
}

.fields input, .fields select {
  margin-top: 14px;
  width: 100%;
  height: 34px;
  border-radius: 4.5px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #f9fafc;
  border: solid 0.5px #dddddd;
  text-align: center;
  font-family: 'Avenir', Fallback, sans-serif !important;
}

.send-btn {
  margin-top: 20px; 
  width: 200px;
  height: 42px;
  border-radius: 9px;
  background-color: #0134a7;
  border: solid 0.5px #dddddd;
  text-align: center;
  font-family: Avenir;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding-top: 1px;
  margin: 20px 0px 10px 0px;
}
