<div  *ngIf="!twoFactorAuth" class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <h1 class="Spend">
        Spend
      </h1>


      <div class="login-box">
        <h1 class="welcome">
          Welcome
        </h1>

        <div *ngIf="error" class="error error-msg">
          {{error}}
        </div>
        <form (ngSubmit)="submit(loginForm.value, loginForm.valid, loginForm)" #loginForm="ngForm">
          <div>
            <div class="fields alignleft">
              <input [ngClass]="{'error-field' : !(usernameField.valid || (usernameField.pristine && !loginForm.submitted)) }"  type="text" placeholder="Username" name="username"
              [(ngModel)]="login.username" #usernameField="ngModel" required>
              <div class="error" [hidden]="usernameField.valid || (usernameField.pristine && !loginForm.submitted)">
               Userame required
             </div> 
            </div>
            <div class="fields alignright">
              <input [ngClass]="{'error-field' : !(passwordField.valid || (passwordField.pristine && !loginForm.submitted)) }" type="password" placeholder="Password" name="password" [(ngModel)]="login.password" #passwordField="ngModel" required>
              <div class="error" [hidden]="passwordField.valid || (passwordField.pristine && !loginForm.submitted)">
               Password required
             </div> 
              
            </div> 
          </div>


          <div class="remember">
            <div class="checkbox">
              <label>
                <input type="checkbox"  name="checkbox" [(ngModel)]="checkboxValue">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                Remember me
              </label>
            </div>
          </div>

          <div>
            <button class="login-btn" type="submit" [disabled]="isSubmitted">Sign In</button>
          </div>
          <a class="forgot" routerLink="/forgotpassword">Forgot Username/Password?</a>
        </form>
      </div>
      <div class="row">
        <a class="register-btn" routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</div>


<div *ngIf="twoFactorAuth" class="col-md-4 col-md-offset-4 text-center">
  <h1 class="Spend">
    Spend
  </h1>
  <div class="code-box">
    <h4 class="login">
      Please Enter the Code : {{medium}} sent to {{destination}}
    </h4>
    
    <form  (ngSubmit)="sendCode(verificationForm.value , verificationForm.valid, verificationForm)"  #verificationForm="ngForm">
      <div class="fields ">
        <input [ngClass]="{'error-field' : !(codeField.valid || (codeField.pristine && !verificationForm.submitted)) }" type="text" placeholder="Enter Code" name="code" [(ngModel)]="code" #codeField="ngModel" required>
        <div class="error" [hidden]="codeField.valid || (codeField.pristine && !verificationForm.submitted)">
         Code required
       </div> 
      </div> 
      <div>
       <button class="send-btn" type="submit" [disabled]="isSubmitted" >Send</button>
      </div>
    </form>
  </div>
</div>