<ng-template class="modal" #template>

  <!--<style>-->
  <!--.crypto ::placeholder {-->

  <!--color: {-->

  <!--{-->
  <!--selectedSymbolData . color-->
  <!--}-->
  <!--}-->
  <!--;-->
  <!--}-->
  <!--</style>-->

  <div class="row modal-body center">
    <div class="bg-modal-send">
      <img class="modalImg" [src]="selectedWalletData.image">
      <button type="button" class="send-modal close" aria-label="Send" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
      <div>
     <span class="send-address">
      <img src="assets/images/pencil.png">
      <input class="noBorder" type="text" [(ngModel)]="model.address"
             [placeholder]="'Send to ' + selectedSymbolData.title +' address'" name=""
             [class.error]="errors.address" id="wallet-address">
    </span>

        <div class="extra-field-holder" *ngIf="selectedSymbolData.extra.fieldName">
          <input class="extra" [class.extra-icon]="!model.extra" type="text" [(ngModel)]="model.extra"
                 [placeholder]="selectedSymbolData.extra.fieldName"
                 [class.error]="errors.extra" id="wallet-address-extra"/>
        </div>
      </div>
      <div class="currency-fields">
        <button (click)="all()" class="pull-left all-button" [style.background-color]="selectedSymbolData.color">
          all
        </button>
        <div class="pull-right">
          <div class="crypto modalSpanGreen">
            <input min="0" [(ngModel)]="model.amount"
                   (keypress)="noNigatives($event)"
                   [style.color]="selectedSymbolData.color"
                   [class.error]="errors.amount" class="noBorder" placeholder="0.00" type="number" name="coin"
                   id="coin-amount"><span
            [style.color]="selectedSymbolData.color">{{selectedSymbolData.symbol}}</span>
          </div>
          <div class="fiat">
            <input [value]="model.amount * selectedSymbolData.conversionRate['USD']['price'] | number :'1.0-2'" readonly
                   class="noBorder" placeholder="0.00" type="text" name="USD"><span>USD</span>
          </div>
        </div>
      </div>
      <div>
        <button class="btn modalButton" (click)="send()" *ngIf="!sending">
          Send
        </button>
        <button class="btn modalButton spinner" *ngIf="sending">
          Send <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </button>

      </div>
    </div>
  </div>
  <div class="modal-footer noBackground">


    <div class="row">
      <div class="col-xs-4 col-md-4 col-md-offset-1 modalSpanWhite">
        <p>{{selectedSymbolData.title}} Network Fee</p>
        <p>Remaining Balance</p>
      </div>
      <div class="col-xs-4 col-md-3 modalSpanGreen bold">
        <p [style.color]="selectedSymbolData.color">{{selectedSymbolData.fee}} {{selectedSymbolData.symbol}}</p>
        <p [style.color]="selectedSymbolData.color">{{remaining() | number :'1.5-8' }} {{selectedSymbolData.symbol}}</p>
      </div>

      <div class="col-xs-4 col-md-2 modalSpanWhite">
        <p>{{selectedSymbolData.feeFormatted}}</p>
        <p>${{remainingUSD() | number :'1.0-2'}}</p>
      </div>
    </div>

    <!-- <span class="modalSpanLeft">Bitcoin Network Top</span>
    <span class="modalSpanCenter">0.00001872 BTC</span>
    <span class="modalSpanRight">0.12</span><br>
    <span class="modalSpanLeft">Remaining Balance</span>
    <span class="modalSpanCenter">0 BTC</span>
    <span class="modalSpanRight">$0</span>   -->
  </div>
</ng-template>

