nav {
  background-color: white;
  border: none;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 30;
  top: 0;
}

.navbar {
  margin: 0;
  padding: 0;
}

.menu {
  margin-left: 0;
  margin-top: -1px;
  height: 60px;
  width: 85px;
}

.menu.toggle {
  background-color: rgba(8, 57, 164, .9);
}

.menu img {
  width: 40px;

  /*margin-left: -17px;*/
  display: block;
  margin: 20px auto;
}

.navbar-brand {
  padding: 0;
  /*margin-left: 100px;*/
}

.navbar-brand img {
  width: 150px;
}

ul {
  list-style: none;
  margin: 0px;
}

ul li {
  margin: 0 0.5vw;
  text-align: center;
  display: inline-block;
}

ul li img {
  max-height: 32px;
  max-width: 32px;
  border: 1px solid #192EA4;
  border-radius: 50%;
}

ul li a {
  padding: 10px;
}

a {
  color: #000000 !important;
  text-decoration: none;
  font-size: 17px;
}

a.active {
  font-weight: bolder;
}

.username {
  padding: 0;
  margin: 0 10px;
  font-size: 17px;
}

.profile-menu {
  cursor: pointer;
  margin: 7px 15px !important;
}

.dropdown-menu {
  left: -31px;
  top: 38px;
}

.dropdown-menu li {
  border-bottom: 1px solid #E6EBF4;
  width: 100%;
  padding: 15px 0;
  margin: 0;
}

.menuitem {
  display: none !important;
}

.dropdown-menu a {
  padding: 0;
  text-align: left;
  margin: 0 20px;
}

.dropdown-menu a:hover {
  background-color: transparent;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

@media only screen and (max-width: 1024px) and (min-width: 820px) {
  li > a {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 12px;
  }

  .menu img {
    width: 50%;
  }
}

@media only screen and (max-width: 820px) and (min-width: 768px) {
  li > a {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 12px;
  }

  .menu img {
    width: 30%;
  }
}

@media screen and (max-width: 767px) {

  ul {
    background-color: white;
    box-shadow: 0 3px 15px 2px;
    width: 50vw;
    overflow-y: auto;
    float: right;
  }

  li {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #E6EBF4;
  }

  li:last-child {
    border-bottom: none;
  }

  .menuitem {
    display: block !important;
  }

  .profile-menu {
    display: none !important;
  }

  .navbar-header {
    width: 100%;
  }

  .navbar-brand img {
    margin-left: 80px;
  }
}

