<nav class="navbar navbar-default navbar-expand-lg navbar-expand-md">
  <div class="menu" [class.toggle]="toggle">
    <img class="img-responsive" [src]="'assets/images/menu'+ (toggle ? '': '-b')+ '.png'" (click)="toggleMenu()">
  </div>
  <div class="container-fluid">

    <div class="navbar-header">

      <a class="navbar-brand">

        <img src="assets/images/logo/spend-logo-ko@3x.png">

      </a>

      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed" (click)="isCollapsed = !isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
        </li>
        <li>
          <a routerLink="/exchange" routerLinkActive="active">Exchange</a>
        </li>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">Wallet</a>
        </li>
        <li>
          <a routerLink="/sell-buy" routerLinkActive="active">Buy/Sell</a>
        </li>
        <li>
          <a routerLink="/support" routerLinkActive="active">Support</a>
        </li>

        <li class="menuitem"><a routerLink="/profile">Profile</a></li>
        <li class="menuitem"><a routerLink="/my-docs">My Docs</a></li>
        <li class="menuitem"><a routerLink="/my-cards">My Cards</a></li>
        <li class="menuitem"><a (click)="logout()">Logout</a>


        <li class="profile-menu" dropdown placement="left">
          <div dropdownToggle class="dropdown-toggle">
            <img src="/assets/images/user-icon.jpg">
            <span class="username">{{username}}</span>
          </div>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu">
            <li role="menuitem"><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/my-docs">My Docs</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/my-cards">My Cards</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a>
            </li>
          </ul>
          <!--<a href="#signout">Signout</a>-->
        </li>

      </ul>
    </div>
  </div>
</nav>
