<div class="alerts">
  <alert *ngFor="let alert of alertService.alerts"
         [type]="alert.type" [dismissible]="true"
         [dismissOnTimeout]="alert.timeout">
    {{ alert.msg }}
  </alert>
</div>

<router-outlet></router-outlet>
