<div class="dashboard-page no-scroll" [style.background-color]="hexToRgba(selectedSymbolData.color,1)">

  <app-upper-menu [toggle]="toggle" (toggleChange)="toggleChange($event)"></app-upper-menu>

  <div class="sidenav" [ngClass]="{'toggle':toggle, 'opened': !menu}">
    <div class="menu">
      <!--<div class="hamburger" (click)="showMenu()">-->
      <!--<img src="assets/images/menu.png">-->
      <!--</div>-->

      <div class="menu-items">
        <div class="menu-header">
          <img class="site-logo" src="../assets/images/spend.png"/>

          <div class="hamburger hamburger2 pull-right" (click)="toggleChange()">
            <img src="assets/images/menu.png">
          </div>
        </div>
        <div class="searchContainer" [ngClass]="{'clear': menu}">
          <input class="searchField" type="text" [(ngModel)]="searchValue" (ngModelChange)="searching()">
          <div class="searchIconContainer" (click)="showMenu()">
            <div><img src="../assets/images/search.png" class='img-responsive search-icon'/></div>
            <div><p>Search</p></div>
          </div>

        </div>
        <hr>
        <ul class="scrolling">
          <li *ngFor="let symbol of symbolsDisplayed;" (click)="selectSymbol(symbol, $event)"
              [attr.data-symbol]="symbol.symbol">
            <div class="iconContainer">
              <div class="icon"><img [src]="symbol.image"></div>
              <!--<div class="iconlabel"><p>{{symbol.title}}</p></div>-->
            </div>
            <div class="iconlabel2"><p>{{symbol.title}}</p></div>
            <div class="closedData">
              <div><span [style.color]="selectedSymbolData.color">{{selectedWalletData.balanceFormatted}}</span></div>
              <div><span>{{selectedWalletData.balanceCurrencyFormatted}}</span> USD</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div (click)="showMenu(false)" class="container-fluid">
    <div class="child-content">
      <div class="col-lg-12 col-md-12">
        <div class="row info-area">
          <div class="col-12 center">
            <img class="rounded-circle" [src]="selectedWalletData.image">
            <div class="cap">{{selectedWalletData.balanceFormatted}}</div>
            <div class="title">{{selectedWalletData.title}}</div>
            <div class="prices">{{selectedWalletData.balanceCurrencyFormatted}} USD</div>
            <div class="actions">
              <button class="btn-outline-primary" [style.color]="selectedSymbolData.color"
                      [style.border-color]="selectedSymbolData.color" (click)="sendPopup()">Send
              </button>
              <button class="btn-outline-primary" [style.color]="selectedSymbolData.color"
                      [style.border-color]="selectedSymbolData.color" (click)="receivePopup()">Receive
              </button>
            </div>
            <div class="row power">
              <div class="center col-md-12">
                <button class="btn" (click)="toggleDefault()">
                  <i class="fas fa-power-off"
                     [style.border-color]="selectedSymbolData.color"
                     [class.active]="selectedWalletData.isDefault"></i>
                </button>
              </div>
            </div>
          </div>
        </div>


        <div class="row graph-holder">
          <div class="col-lg-8 offset-lg-2 col-xs-12 card">
            <div class="row">
              <div class="col-12">
                <div _class="graphArea">
                  <app-chart [data]="selectedSymbolData">

                  </app-chart>
                  <!--<fusioncharts-->
                  <!--[id]="id"-->
                  <!--[width]="width"-->
                  <!--[height]="height"-->
                  <!--[type]="type"-->
                  <!--[dataFormat]="dataFormat"-->
                  <!--[dataSource]="dataSource"-->
                  <!--&gt;</fusioncharts>-->
                </div>
              </div>
            </div>
            <div class="row time-filter-holder">
              <div (click)="activeTimeFilter=0" class="col-2">
                <p class="time-filter"
                   [class.active]="activeTimeFilter===0">24h</p></div>
              <div (click)="activeTimeFilter=1" class="col-2">
                <p class="time-filter"
                   [class.active]="activeTimeFilter===1">7d</p></div>
              <div (click)="activeTimeFilter=2" class="col-2">
                <p class="time-filter"
                   [class.active]="activeTimeFilter===2">1M</p></div>
              <div (click)="activeTimeFilter=3" class="col-2">
                <p class="time-filter"
                   [class.active]="activeTimeFilter===3">3M</p></div>
              <div (click)="activeTimeFilter=4" class="col-2">
                <p class="time-filter"
                   [class.active]="activeTimeFilter===4">1Y</p></div>
              <div (click)="activeTimeFilter=5" class="col-2">
                <p class="time-filter"
                   [class.active]="activeTimeFilter===5">all</p></div>
            </div>

            <div class="row summary">
              <div class="col-6 left">
                <div class="row">
                  <div class="col-6 label">Market Cap</div>
                  <div class="col-6 value"> {{selectedSymbolData.marketData.marketCapFormatted}} USD</div>
                </div>
                <div class="row">
                  <div class="col-6 label">Volume (24h)</div>
                  <div class="col-6 value"> {{selectedSymbolData.marketData.volumeUsd24hFormatted}} USD</div>
                </div>
              </div>
              <div class="col-6 right">
                <div class="row">
                  <div class="col-6 label">Circulating Supply</div>
                  <div class="col-6 value">{{selectedSymbolData.marketData.totalSupplyFormatted}}
                    {{selectedSymbolData.symbol}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 label">Max Supply</div>
                  <div class="col-6 value"> {{selectedSymbolData.marketData.maxSupplyFormatted}}
                    {{selectedSymbolData.symbol}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="history-area" [class.transClose]="close">
        <div class="heading" (click)="close=!close">
          <i *ngIf="!close" class="fa fa-angle-right"></i>
          <i *ngIf="close" class="fa fa-angle-left"></i>
          Transaction History
        </div>
        <div class="transaction-list">
          <div class="item" [tooltip]="paymentTooltip" data-placement="left"
               *ngFor="let trans of transactionService.transactions[selectedWallet]">
            <div class="payment" [class.open]="selectedTransactionId===trans.id">
              <div (click)="collapse(trans)">
                <div>

						    <span>
                <ng-template #paymentTooltip>
                    <div>
                        {{trans.title}}
                    </div>
                      <div>
                        {{trans.amountFormatted}} {{trans.symbol}}
                      </div>
                  </ng-template>
							    <img [src]="'assets/images/trans/'+icons[trans.type]">

						    </span>
                  <span class="title">{{trans.title}}</span>
                  <span class="amount">
							    <span>{{trans.amountFormatted}}</span>
							    <span>{{trans.symbol}}</span>
						    </span>
                </div>
                <div class="time">
                  <span>{{trans.dateTime |date :'MMMM, dd yyyy'}}</span>
                  <span>{{trans.dateTime |date :'HH:mm:ss'}}</span>
                </div>
              </div>
              <div class="info"
                   [@slideInOut]="selectedTransactionId===trans.id && !close?'in':'out'">
                <div>
                  <span class="key">Status</span>
                  <span class="value">{{trans.type}}</span>
                </div>
                <div>
                  <span class="key">Amount</span>
                  <span>USD</span>
                  <span class="value">{{trans.usdAmountAtTransactionFormatted}}</span>
                </div>
                <div>
                  <span class="key">Conversion Rate</span>
                  <span>USD</span>
                  <span class="value">{{trans.conversionRateAtTransactionFormatted}}</span>
                </div>
                <div *ngIf="trans.type=='Purchase'">
                  <span class="key">{{trans.symbol}} Used </span>
                  <span>{{trans.symbol}} </span>
                  <span class="value">{{trans.amountFormatted}} </span>
                </div>
                <div>
                  <span class="key">Transaction ID</span>
                  <span class="value">{{trans.id}}</span>
                </div>
                <div *ngIf="trans.txhash">
                  <span class="key">TX Hash</span>
                  <span class="value txhash"><a [href]="txUrls[trans.symbol] +trans.txhash"
                                                target="_blank">{{trans.txhash}}</a></span>
                </div>
              </div>
            </div>
            <div class="hr"></div>
          </div>

          <div class="load-more-transaction" *ngIf="loading ; else more">
            Loading . . .
          </div>


          <ng-template #more>
            <div *ngIf="page < pages">
              <div class="infinite-scroll-zone" inViewport
                   [inViewportOptions]="{ threshold: [0] }"
                   (inViewportAction)="onIntersection($event)">&#160;
              </div>
            </div>
            <div class="no-more-transaction" *ngIf="page === pages">
              No more transactions
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>


<app-send-modal #sendModal [selectedSymbolData]="selectedSymbolData" [selectedWalletData]="selectedWalletData">
</app-send-modal>
<app-receive-modal #receiveModal [selectedSymbolData]="selectedSymbolData" [selectedWalletData]="selectedWalletData">
</app-receive-modal>
