
.dashboard-page {
  min-height: 100vh;
  background-image: url('/assets/images/gs-background.png');
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: 0 62px;
  padding-top: 80px;
}

.menu {
  height: 100%;
  background-color: rgba(8, 57, 164, .9);
  list-style: none;
  text-align: center;
  padding-top: 20px;
}

.hamburger {
  text-align: center;
  height: 62px;
  width: 80px;
  padding: 0 5px;
  color: white;
  float: left;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: auto;
  img {
    margin: auto;
    width: 40px;
  }

}

.margin {
  margin-top: 10px;
}

.sidenav.toggle {
  animation-duration: 1s !important;
  animation-name: dropdown !important;
  top: 59px;

}

.sidenav {
  z-index: 29;
  height: 100%;
  //width: 80px;
  top: -100vh;
  position: fixed;
  left: 0;
  color: white;
  animation-duration: 1s !important;
  animation-name: pullup !important;

  .iconContainer {
    width: 80px;
    //text-align: center;
    //max-width: 100%
  }

  .menu-items {
    display: block;
    animation-duration: 0.9s;
    animation-name: slideout;
    .site-logo {
      display: block;
    }
    .menu-header {
      display: none;
    }

    left: -200px;
    top: 65px;

    hr {
      display: none;
    }
  }
  &.opened {

    z-index: 1000;
    //width: 250px;

    li {
      height: 70px;
      &.selected .closedData {
        display: inline-block !important;
        font-size: 12px;
        // top: -100px;
        // left: 140px;
        margin: 0px 0px 0px 20px;
        padding-right: 10px;
      }
    }
    .iconlabel {
      font-size: 10px;
    }
    .iconContainer .iconlabel {
      display: none;
    }

    .searchContainer {
      cursor: default;
      width: 100%;

      .searchField {
        display: inline;
        padding: 2px;
        border: 0;
        width: calc(100% - 90px);
        border-radius: 5px;
        height: 30px;
        color: black;
        float: left;
        margin: 5px 0 0 10px;
      }
    }

    .menu-items {
      animation-duration: 0.8s;
      animation-name: slidein;
      position: fixed;
      height: 100%;
      top: 0px;
      left: 0px;
      background: #0134a7;
      opacity: 0.9;

      hr {
        display: block;
        width: 80%;
        border-color: rgba(18, 77, 170, .88);
        margin: 5px auto;;
      }
      .menu-header {
        display: block;
        height: 62px;
        //margin-top: 12px;
        .hamburger2 {
          display: flex;
        }
      }
      .site-logo {
        display: inline-block;
        visibility: unset;
        margin-top: 16px;
        margin-left: 20px;
        height: 29px;
        float: left;;
      }

    }

    .menu {

      height: 100%;
      background-color: unset;
      opacity: unset;
      li {
        min-width: 100%;
        //background-color: #1F2534;
      }
    }
    .iconlabel2 {
      display: inline-block !important;
      //margin-left: -25px;
      //margin-top: 15px;
    }
    .hamburger {
      display: none;
    }
    ul.scrolling {
      width: 100%;
    }
  }
  ul {
    text-align: center;
    padding: 0;
    list-style: none;

    &.scrolling {
      height: calc(100% - 112px);
      overflow: scroll;
      -ms-overflow-style: none; /*IE 10+*/
      overflow: -moz-scrollbars-none; /*Firefox*/
      //width: 80px;
    }

  }
}

.sidenav ul.scrolling::-webkit-scrollbar {
  display: none; /* Safari and Chrome*/
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.sidenav li {
  text-align: left;
  padding: 0px 0px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.sidenav li:hover {
  background-color: rgba(1, 43, 130, 0.6);


}

.sidenav li.selected {
  background-color: rgb(1, 43, 147);
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.sidenav .searchContainer {
  cursor: pointer;
  height: 60px;
  width: 80px;
  .searchIconContainer {
    width: 80px;
    float: right;
  }
  .search-icon {
    width: 20px;
    display: inline;
  }
  .iconContainer .iconlabel {
    display: block !important;
    margin: 0px;
  }
  .searchField {
    display: none;

  }
}

.sidenav .iconContainer .icon {
  width: 50px;
  margin: 0 auto;
  padding: 5px;
}

.sidenav .iconContainer .icon img {
  width: 100%;
}

.sidenav .iconContainer .iconlabel {
  display: block;
  margin-top: 0px;
}

.sidenav .closedData {
  display: none !important;
}

.sidenav li {
  margin: 0px 0px;
  height: 70px;
  max-height: 80px;
}

.sidenav li img {
  //max-width: 50%;
  /*max-height: 80%;*/
  margin-bottom: 10px;
}

.closedData {
  padding: 5px;
}

.closedData > *:first-child {
  font-weight: bold !important;
  font-size: 14px;
}

.sidenav .iconlabel2 {
  display: none !important;
}

.sidenav .fas {
  color: white;
  font-size: 20px;
  //font-weight: 600;
}

@keyframes slidein {

  from {
    left: -200px;
  }
  to {
    left: 0;
  }
}

@keyframes dropdown {
  from {
    top: -100vh;
  }
  to {
    top: 60px;
  }
}

@keyframes pullup {
  to {
    top: -100vh;
    display: none;
  }
  from {
    top: 60px;
  }
}

@keyframes slideRight {
  from {
    right: -300px
  }
  to {
    right: 0
  }
}

@keyframes slideLeft {
  from {
    width: 200px
  }
  to {
    width: 210px
  }
}

@keyframes slideout {
  from {
    width: 250px;
  }
  to {

    width: 80px;
    //width: 0px;
  }
}

.closedList {
  from {
    width: 100%;
  }
  to {
    width: calc(100% - 80px);
  }
}

//.main-content {
//  width: 100%;
//  float: right;
//  padding-top: 0;
//
//}

.topnav {
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  position: fixed;
  width: calc(100% - 80px);
  left: 80px;
  z-index: 999;
}

.topnav .logo {
  color: #0033a7;
  font-weight: bold;
  font-size: 31px;
  position: relative;
  top: 4px;
  left: 31px;
}

.searchIcon {
  float: right;
  margin: 40px 70px 0px 0px;
}

.searchtext {
  margin-top: -30px;
  margin-left: 160px;
}

.Search {
  width: 22px;
  height: 7px;
  font-size: 7px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #7082ce;
}

.searchField {
  width: 100%;
  background: white;
  color: black;
  font-family: 'Avenir', Fallback, sans-serif !important;
}

.child-content {

}

.child-content .info-area {
  padding-top: 40px;
  padding-bottom: 25px;
  margin-bottom: 6px;
}

.child-content .shadow {
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.22);
  margin-top: -65px;
  margin-bottom: 20px;
  height: 2px;
  width: 110%;
}

@media screen and (min-width: 1600px) {
  .child-content .shadow {
    width: 120%;
  }
}

.child-content .graph {
  width: 110%;
  margin: auto;
  border-radius: 10px;
}

.child-content .graph img {
  width: 100%;
}

.child-content .info-area .left-info {
  padding-left: 40px;
  font-size: 14px;
}

@media screen and (max-width: 999px) {
  .child-content .info-area .left-info {
    display: none;
  }
}

.child-content .info-area .left-info .coin-info {
  padding-bottom: 10px;
}

.child-content .info-area .left-info .coin-info p:nth-child(1) {
  font-weight: bold;
  line-height: 1.25;

}

.child-content .info-area .left-info .coin-info p:nth-child(2) {
  /*margin-bottom: 26px;*/
  font-weight: bold;
  line-height: 1.24;
  font-size: 14px;
  color: rgba(180, 180, 180, 1);
}

.child-content .info-area {
  text-align: center;
}

.child-content .info-area img {
  width: 70px;
  border: 1px solid white;

}

.child-content .info-area .title {
  font-size: 22px;
  margin-top: -5px;
  color: white;
}

.child-content .info-area .cap {
  font-size: 43px;
  font-weight: bold;
  color: white;
}

.child-content .info-area .prices {
  color: white;
  font-size: 23px;

}

.child-content .info-area .actions button {
  border-style: solid;
  border-width: 2px;
  border-color: darkorange;
  background-color: white;
  box-shadow: 5.5px 9.526px 18px 0 rgba(0, 0, 0, 0.29);
  border-radius: 50px;
  font-size: 22px;
  padding: 10px 0;
  margin: 15px;
  min-width: 130px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #000000;
  text-transform: uppercase;
  width: 24%;
}

.child-content .info-area .active {
  color: #0033a7;
  font-size: 18px;
  font-weight: bold;
}

.child-content .power .col-md-12 {
  display: flex;
}

.child-content .power button {
  margin: auto;
  border-radius: 33px;
  background: white;
  padding: 3px;
}

.child-content .power .fas {
  padding: 7px;
  border-radius: 33px;
  font-size: 22px;
  border: 2px solid white;
  color: #d44518;

  //box-shadow: 0 0 0 3px #fff;
}

.child-content .power .fas.active {
  color: rgba(46, 199, 104, 1);
}

@media screen and (min-width: 1000px) {
  .history-area {
    position: fixed;
    right: 0;
    max-width: 500px;
  }
}

.history-area.transClose {
  animation-duration: 1s !important;
  animation-name: slideLeft !important;
  float: right;
  .heading {
    width: 220px;
  }
  .title, .amount, .time, .info {
    display: none;
  }
  .transaction-list {
    width: 100px;
  }
  .item {
    width: 90%;
    margin: auto;
  }
  .payment {
    text-align: center;
    padding: 28px 0 0 0;

    &.open {
      padding-top: 28px;
    }
    img {
      width: 32px;
    }
  }

}

.history-area {
  animation-duration: 1s !important;
  animation-name: slideRight !important;
  padding: 0px;
  position: fixed;
  right: 0;
  top: 60px;
  height: 100%;
  background-color: transparent;
  //box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);

  .transaction-list {
    height: calc(100vh - 83px);
    overflow-x: auto;
    background-color: rgba(254, 245, 236, .95);
    width: 400px;
    float: right;
    padding: 0 30px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .heading {
    background-color: rgb(42, 130, 228);
    color: white;
    font-size: 16px;
    padding: 6px 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 425px;
    i {
      padding-right: 10px;
      font-size: 27px;
    }
  }
  .payment {
    padding: 10px;
    padding-top: 28px;
    cursor: pointer;
    &.open {
      padding-top: 10px;
    }
    img {
      width: 42px;
    }
    .icon {
      background-color: #d4e89c;
      padding: 8px 11px;
      border-radius: 20px;
      .fas {
        font-size: 20px;
        color: white;
      }

    }
    .title {
      font-weight: bold;
      font-size: 18px;
      color: #3084E1;
      margin-left: 16px;
    }
    .amount {
      float: right;
      span:nth-child(1) {
        font-size: 18px;
        font-weight: bold;
        color: #1F2534;
      }
      span:nth-child(2) {
        font-size: 14px;
        color: #a9b5cb;
        margin-left: 8px;
      }
    }
    .time {
      margin-top: 8px;
      padding-left: 50px;
      color: #a9b5cb;
      margin-bottom: 6px;
    }
    .time span:nth-child(1) {
      margin-right: 40px;
    }

    .info {
      background-color: white;
      border: solid 1px #D4D3D2;
      display: flex;
      flex-direction: column;
      cursor: auto;
      padding: 10px 10px 10px 35px;
      div {
        display: flex;
        flex-direction: row;
        width: 100%;
        span {
          flex: 1;
          font-size: 14px;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;
          letter-spacing: normal;
          text-align: center;
        }
        span:last-child {
          font-weight: bold;

          &.key {
            flex: 2;
            text-align: left;
            color: #707070;
          }
          &.value {
            text-align: right;
            color: black;
          }
        }
      }
      div:not(:last-child) {
        padding-bottom: 16px;
      }
    }
  }

}

.txhash {
  max-width: 125px;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.no-more-transaction, .load-more-transaction {
  text-align: center;

}

.hr {
  width: 100%;
  height: 2px;
  background-color: #e6ebf4;
  float: right;

}

.graph-holder {
  .card {
    padding: 20px 15px;
  }
  //padding-bottom: 200px;
  .time-filter-holder {
    border-bottom: 1px solid #C6C6C7;
    padding-bottom: 0;
    margin-bottom: 15px;
    div{
      cursor: pointer;

    }
  }
  .time-filter {
    font-size: 22px;
    text-transform: uppercase;
    color: rgba(198, 198, 198, 1);
    margin-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 40%;
    text-align: center;
    &:hover{
      border-bottom: 2px solid rgba(48, 132, 225, .5);
      color: rgba(48, 132, 225, .5);

    }
    &.active {
      border-bottom: 2px solid rgba(48, 132, 225, 1);
      color: rgba(48, 132, 225, 1);

      -webkit-animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
  }
  .summary {
    .left {
      border-right: 1px solid #C6C6C7;
      .value {
        padding-right: 25px;
      }
    }
    .right {
      .label {
        padding-left: 25px;
      }
    }

    .label {
      color: #C6C6C7;
      font-size: 18px;
      font-weight: lighter;
      text-align: left;
    }
    .value {
      color: black;
      font-size: 15px;
      font-weight: lighter;
      text-align: right;
    }
  }

}


