
.Spend {
  font-family: 'Avenir', Fallback, sans-serif !important;
  text-align: center;
  height: 48px; 
  font-size: 49px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #0033a7;
  margin-top: 100px;
}

.code-box {
  margin-top: 45px;
  padding: 0px 18px 20px 20px;
  border-radius: 8.5px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.38);
  background-color: #ffffff;
  border: solid 0.5px #e0e0e0;
  text-align: center;
  
}

.fields input, .fields select {
  margin-top: 14px;
  width: 100%;
  height: 34px;
  border-radius: 4.5px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #f9fafc;
  border: solid 0.5px #dddddd;
  text-align: center;
  font-family: 'Avenir', Fallback, sans-serif !important;
}

.send-btn {
  width: 200px;
  height: 42px;
  border-radius: 9px;
  background-color: #0134a7;
  border: solid 0.5px #dddddd;
  text-align: center;
  font-family: Avenir;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.send-btn:hover {
  background: blue;
}

.send-btn[disabled] {
  background: #a9bdea !important;
}

.input.ng-touched.ng-invalid {
  border: 1px solid black;
  outline-style: solid;
  outline-color: red;
  outline-width: thick;
}

.error-field {
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483 !important;
}
.error {
  font-size: 10px !important;
  color: #a94442;
  margin-top: 10px;
  width: 100%;
  text-align: left; 
}

.error-msg {
  margin-bottom: 10px;
}
.margin {
  margin-top: 10px;
}

.account {
  margin-top: 0px;
  width: 51px;
  height: 9px;
  font-family: Avenir;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 4;
  letter-spacing: normal;
  text-align: left;
  color: #0134a7;
  cursor: pointer;
}