

<div *ngIf="!reset" class="col-md-4 col-md-offset-4 text-center">
  <h1 class="Spend">
    Spend
  </h1>
  <div class="code-box">
    <h4 class="login">
      Enter Username to Update Password
    </h4>
    <div>
     
      <form  (ngSubmit)="resetPassword(forgetPasswordForm.value , forgetPasswordForm.valid, forgetPasswordForm)"  #forgetPasswordForm="ngForm">
        <div class="fields margin-bottom-10">
          <input [ngClass]="{'error-field' : !(usernameField.valid || (usernameField.pristine && !forgetPasswordForm.submitted)) }" type="text" placeholder="Enter Username" name="username" [(ngModel)]="username" #usernameField="ngModel" required>
          <div class="error" [hidden]="usernameField.valid || (usernameField.pristine && !forgetPasswordForm.submitted)">
           Userame required
         </div>
        </div>      
        <div>
          <button class="send-btn" type="submit" [disabled]="isSend">Send</button>
        </div>
      </form>
    </div>
  </div>
  <div class="margin">
        <a class="account" routerLink="/login">Go back to login page</a>
  </div>
</div>


<div *ngIf="reset" class="col-md-4 col-md-offset-4 text-center">
  <h1 class="Spend">
    Spend
  </h1>
  <div class="code-box">
    <h4 class="login">
      Please Enter the Code : {{medium}} sent to {{destination}}
    </h4>
    <div>
     
      <form  (ngSubmit)="sendCode(forgetPasswordForm.value , forgetPasswordForm.valid, forgetPasswordForm)"  #forgetPasswordForm="ngForm">
        <div class="fields margin-bottom-10">
          <input  [ngClass]="{'error-field' : !(codeField.valid || (codeField.pristine && !forgetPasswordForm.submitted)) }" type="text" placeholder="Enter Code" name="code" [(ngModel)]="code" #codeField="ngModel" required>
          <div class="error" [hidden]="codeField.valid || (codeField.pristine && !forgetPasswordForm.submitted)">
           Code required
         </div>
        </div>

        <div class="fields margin-bottom-10">
          <input  [ngClass]="{'error-field' : !(passwordField.valid || (passwordField.pristine && !forgetPasswordForm.submitted)) }" type="password" placeholder="Enter New Password" name="password" [(ngModel)]="password" #passwordField="ngModel" required>
          <div class="error" [hidden]="passwordField.valid || (passwordField.pristine && !forgetPasswordForm.submitted)">
           Password required
         </div>
        </div>


        <div>
          <button class="send-btn" type="submit" [disabled]="isSend" >Send</button>
        </div>
      </form>
    </div>
  </div>
  <div class="margin">
        <a class="account" routerLink="/login">Go back to login page</a>
  </div>
</div>