/* You can add global styles to this file, and also import other style files */
@import 'https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';
@import 'intl-tel-input/build/css/intlTelInput.css';

@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir/AvenirLTStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir/AvenirLTStd-Light.otf') format('opentype');
  font-weight: light;
}

@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir/AvenirLTStd-Roman.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir/AEH.ttf') format('opentype');
  font-weight: bold;
}

body {
  font-family: Avenir, serif;
  -ms-overflow-style: none; /*IE 10+*/
  overflow: -moz-scrollbars-none; /*Firefox*/
  background-color: #EAEAEA;
}

.no-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome*/
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
  overflow: hidden;
}

.checkbox label,
.radio label {
  font-family: Avenir, serif;
  font-weight: bold;
  padding-left: 0px;
}

.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #0134a7;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}

body.register,
body.login {
  background: url(/assets/images/background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: bottom center;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.intl-tel-input {
  width: 100%;
}

.intl-tel-input.allow-dropdown .flag-container, .intl-tel-input.separate-dial-code .flag-container {
  right: auto;
  left: 0;
  height: 35px;
  top: 14px;
}

.send-modal .modal-content {
  margin-top: 70px;
}

.modal-backdrop {
  opacity: .95 !important;
  background-color: #1F2534;
}

.modal-dialog {
  margin-top: 20vh;
}

.qr img {
  width: 120px;
  margin: 20px 10px;
  border: 5px solid black;
}

button:focus {
  outline: none;
}

.alert {
  text-align: right;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  text-shadow: black 0 1px 3px;
  display: flex;
  min-width: 200px;
  /*position: fixed;*/
}

.alert .close {
  opacity: 1;
  font-weight: lighter;
  box-shadow: none;
  color: white;
  position: static;
  padding-right: 10px;
  text-shadow: black 1px 0;
  font-size: 17px;
}

.alert.alert-error {
  background-color: rgba(211, 134, 134, .9);
  /*color: rgba(167, 69, 93, 1);*/
  border: 1px solid #7C171D;
}

.alert.alert-success {
  background-color: rgba(131, 184, 147, .9);
  /*color: #3E753F;*/
  border: 1px solid #7D9785;
}

.alert.alert-info {
  background-color: rgba(130, 165, 233, .9);
  /*color: #347094;*/
  border: 1px solid #7D89AC;
}

@media screen and (max-width: 767px) {

  .modal-dialog {
    width: 75%;
    margin: 25vh auto;
  }
}

.profile-page div.flag-container {
  top: 2px !important;
  background-color: #7C171D;
}

.btn-primary {
  margin-top: 10px;
  border: none;
  box-shadow: 1px 7px 13px 1px rgba(1, 2, 2, 0.15);
}

.btn-primary.no-shadow {
  box-shadow: none;
}

.btn-primary:not(:hover) {
  background-color: #2e81e3;
}

.btn-primary:not(.btn-lg,.btn-xs) {
  font-size: 18px;
}

.btn {
  border-radius: 6px;
  padding: 8px 15px;
}

.card {
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 24px 0 rgba(1, 2, 2, 0.26);
  padding: 20px 30px;
}

.card .title {
  font-size: 28px;
  color: rgb(46, 129, 227);
  line-height: 1.2;
  padding-top: 5px;
  padding-bottom: 20px;
}

.text-small {
  font-size: 14px;
}

.text-medium {
  font-size: 18px;
}

.text-large {
  font-size: 24px;
}

.control-label {
  font-size: 18px;
}

input[type=text].form-control, input[type=email].form-control,
input[type=password].form-control, select.form-control {
  border-radius: 5px;
  background-color: #fefefe;
  border: solid 1px #c1c1c1;
  height: 42px !important;
  font-size: 15px;
  text-align: left;
  color: black !important;
  padding: 5px 10px;
}

.card form div[class^="col-"] {
  margin: 8px 0;
}

.input-group input {
  border-right: none !important;
}

@-webkit-keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}
@keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}


@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
