.Spend {
  font-family: Avenir;
  text-align: center;
  height: 48px; 
  font-size: 49px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #0033a7;
  margin-top: 60px;
}

.register-box {
  margin-top: 45px;
  margin-bottom: 50px;
  padding: 0px 18px 20px 20px;
  border-radius: 8.5px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.38);
  background-color: #ffffff;
  border: solid 0.5px #e0e0e0;
  text-align: center;
  
}

.code-box {
  margin-top: 45px;
  margin-bottom: 50px;
  padding: 0px 18px 20px 20px;
  border-radius: 8.5px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.38);
  background-color: #ffffff;
  border: solid 0.5px #e0e0e0;
  text-align: center;
  
}
.register {
  height: 19.5px;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-align: center;
  border-bottom: 2px solid #0134a7;
  padding-bottom: 36px;
  margin-bottom: 18px;
}

.alignleft {
  width: 50%;
  float: left;
}
.alignright {
  width: 50%;
  float: right;
}

.fields {
  padding: 0 10px;
}

.error-field {
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483 !important;
}
.error{
  font-size: 10px !important;
  color: #a94442;
  margin-top: 10px;
  width: 100%;
  text-align: left; 
}

.error-msg {
  margin-bottom: 10px;
}

.fields input, .fields select {
  margin-top: 14px !important;
  width: 100%;
  height: 34px;
  border-radius: 4.5px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #f9fafc;
  border: solid 0.5px #dddddd;
  text-align: center;
  font-family: 'Avenir', Fallback, sans-serif !important;
}

/*.div left:nth-child(1){
  float: left;
}
.div right:nth-child(2){
  float: right;
}

.fields input:nth-child(1), .fields select:nth-child(1) {
  float: left;
}
.fields input:nth-child(2), .fields select:nth-child(2) {
  float: right;
}
*/
.fields select {
  text-align-last:center;
}

.remember {
  font-family: Avenir;
  margin-top: 14px;
}

.register-btn {
  width: 260px;
  height: 44px;
  border-radius: 9px;
  background-color: #0134a7;
  border: solid 0.5px #dddddd;
  text-align: center;
  font-family: Avenir;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.register-btn:hover {
  background: blue; 
}

.register-btn[disabled] {
  background: #a9bdea !important;;
}

.account {
  margin-top: 0px;
  width: 51px;
  height: 9px;
  font-family: Avenir;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 4;
  letter-spacing: normal;
  text-align: left;
  color: #0134a7;
  cursor: pointer;
}

.a {
  position: relative;
  top: -7px;
}

.terms {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom: 7px;
  margin-top: 16px;
}

.fnamerequire{
  float: left;
}