

<div *ngIf="!showCodeConfirmation" class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1 class="Spend">
        Spend
      </h1>


      <div class="register-box">
        <h1 class="register">
          Register Now
        </h1>

        <form (ngSubmit)="submit(registerForm.value, registerForm.valid, registerForm)" #registerForm="ngForm">
          <div>
            <div class="fields alignleft">
              <input [ngClass]="{'error-field' : !(firstName.valid || (firstName.pristine && !registerForm.submitted)) }" type="text" placeholder="First Name" name="firstName"
              [(ngModel)]="register.firstName" #firstName="ngModel" required>
              <div class="error" [hidden]="firstName.valid || (firstName.pristine && !registerForm.submitted)">
               First Name required
             </div> 
            </div>
            <div class="fields alignright">
              <input [ngClass]="{'error-field' : !(lastName.valid || (lastName.pristine && !registerForm.submitted)) }" type="text" placeholder="Last Name" name="lastName" [(ngModel)]="register.lastName" #lastName="ngModel" required>
              <div class="error" [hidden]="lastName.valid || (lastName.pristine && !registerForm.submitted)">
                Last Name required
              </div>
            </div> 
          </div>

          <div>
            <div class="fields alignleft">
              <input [ngClass]="{'error-field' : !(email.valid || (email.pristine && !registerForm.submitted)) }" type="Email" placeholder="Email" name="email" required="true"
              [(ngModel)]="register.email" #email="ngModel">
              <div class="error" [hidden]="email.valid || (email.pristine && !registerForm.submitted)">
                Email required
              </div> 
            </div>
            <div class="fields alignright">
              <input [ngClass]="{'error-field' : !(birthdate.valid || (birthdate.pristine && !registerForm.submitted)) }" type="date" placeholder="mm /dd / yyyy" datetime="MM/DD/YYYY" name="tempDate" required="true"
              [(ngModel)]="tempDate"  #birthdate="ngModel">
              <div class="error" [hidden]="birthdate.valid || (birthdate.pristine && !registerForm.submitted)">
                Birth Date required
              </div>
            </div> 
          </div>

          <div>
            <div class="fields alignleft">
              <input [ngClass]="{'error-field' : !(username.valid || (username.pristine && !registerForm.submitted)) }" type="text" placeholder="Username" name="username" required="true"
              [(ngModel)]="register.username"  #username="ngModel">
              <div class="error" [hidden]="username.valid || (username.pristine && !registerForm.submitted)">
                Username required
              </div> 
            </div>
            <div class="fields alignright">
              <input [ngClass]="{'error-field' : !(nin.valid || (nin.pristine && !registerForm.submitted)) }" type="text" placeholder="NIN" name="nin" required="true"
              [(ngModel)]="register.nin"  #nin="ngModel">
              <div class="error" [hidden]="nin.valid || (nin.pristine && !registerForm.submitted)">
                National Identity Number required
              </div>
            </div> 
          </div>

          <div>
            <div class="fields alignleft">
              <input [ngClass]="{'error-field' : !(password.valid || (password.pristine && !registerForm.submitted)) }" type="password" placeholder="Password" name="password" required="true" [(ngModel)]="register.password"  #password="ngModel">
              <div class="error" [hidden]="password.valid || (password.pristine && !registerForm.submitted)">
                Password required
              </div>
            </div>
            <div class="fields alignright">
              <input [ngClass]="{'error-field' : !(repassword.valid || (repassword.pristine && !registerForm.submitted)) }" type="password" placeholder="Re-enter Password" name="repassword" required="true"
              [(ngModel)]="register.repassword"  #repassword="ngModel">
              <div class="error" [hidden]="repassword.valid || (repassword.pristine && !registerForm.submitted)">
                Please Re-enter Password
              </div>
            </div>
          </div>

          <div>
            <div class="fields alignleft">
              <input [ngClass]="{'error-field' : !(address.valid || (address.pristine && !registerForm.submitted)) }" type="text" placeholder="Address" name="address" required="true"
              [(ngModel)]="register.address"  #address="ngModel">
              <div class="error" [hidden]="address.valid || (address.pristine && !registerForm.submitted)">
                Address required
              </div> 
            </div>
            <div class="fields alignright">
              <input [ngClass]="{'error-field' : !(city.valid || (city.pristine && !registerForm.submitted)) }" type="text" placeholder="City" name="city" required="true"
              [(ngModel)]="register.city"  #city="ngModel">
              <div class="error" [hidden]="city.valid || (city.pristine && !registerForm.submitted)">
                City required
              </div>
            </div> 
          </div>

          <div>
            <div class="fields alignleft">
              <select [ngClass]="{'error-field' : !(country.valid || (country.pristine && !registerForm.submitted)) }" type="Country" name="country" required="true"
              [(ngModel)]="register.country"  #country="ngModel" (ngModelChange)="onCountrySelect()">
                <option value="" selected>Select Country</option>

                <option value="{{country.code}}" *ngFor="let country of countries"> 
                  {{ country.name }}
                </option>
              </select>
              <div class="error" [hidden]="country.valid || (country.pristine && !registerForm.submitted)">
                Country required
              </div> 
            </div>

            <div class="fields alignright">
              <select [ngClass]="{'error-field' : !(state.valid || (state.pristine && !registerForm.submitted)) }" type="state" name="state" required="true" [(ngModel)]="register.state"  #state="ngModel">
                <option value="" selected>Select State</option>
                <option value="{{state.code}}" *ngFor="let state of states"> 
                  {{ state.name }}
                </option>
              </select>
              <div class="error" [hidden]="state.valid || (state.pristine && !registerForm.submitted)">
                State required
              </div>
            </div> 
          </div>

          <div>
            <div class="fields alignleft">
              <input [ngClass]="{'error-field' : !(zipcode.valid || (zipcode.pristine && !registerForm.submitted)) }" type="text" placeholder="Zipcode" name="zipcode" required="true"
              [(ngModel)]="register.zipcode"  #zipcode="ngModel">
               <div class="error" [hidden]="zipcode.valid || (zipcode.pristine && !registerForm.submitted)">
                Zipcode required
              </div>
            </div>
            <div class="fields alignright">
              <input type="text"
                [ngClass]="{'error-field' : !(phone.valid || (phone.pristine && !registerForm.submitted)) }" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'ca'}" name="phone" required="true" [(ngModel)]="telPhone" #phone="ngModel" (change)="telInput()" id="phoneNumber"
               />
              <!-- <input [ngClass]="{'error-field' : !(phone.valid || (phone.pristine && !registerForm.submitted)) }" type="text" placeholder="Phone Number" name="phone" required="true" [(ngModel)]="register.phone"  #phone="ngModel">-->
              <div class="error" [hidden]="phone.valid || (phone.pristine && !registerForm.submitted)">
                Phone Number required
              </div>
            </div> 
          </div>


          <div class="terms">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" name="checkbox" [(ngModel)]="checkboxValue" >
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
              </label>
              <a class="account a" href="https://docs.spend.com/privacy-policy.pdf">I accept terms and conditions</a>
            </div>
          </div>

          <div>
            <button class="register-btn" type="submit" [disabled]="isSubmitted">Register</button>
          </div>
          <a class="account" routerLink="/login">I have an account</a>

        </form>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showCodeConfirmation" class="col-md-4 col-md-offset-4 text-center">
  <h1 class="Spend">
    Spend
  </h1>
  <div class="code-box">
    <h1 class="register">
      Send Code
    </h1>
    <div>
     
      <form  (ngSubmit)="sendCode(verificationForm.value , verificationForm.valid, verificationForm)"  #verificationForm="ngForm">
        <div class="fields margin-bottom-10">
          <input [ngClass]="{'error-field' : !(codeField.valid || (codeField.pristine && !verificationForm.submitted)) }" type="text" placeholder="Enter Code" name="code" [(ngModel)]="code" #codeField="ngModel" required>
          <div class="error" [hidden]="codeField.valid || (codeField.pristine && !verificationForm.submitted)">
            Code required
          </div>
        </div> 
        <div>
          <button class="register-btn" type="submit"  [disabled]="isSubmitted">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
